# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pip

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        os:  [ubuntu-latest, macos-latest]
        # pip cache paths
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    # use pip caching
    - uses: actions/cache@v2
      with:
        path: ${{ matrix.path }}
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
         ${{ runner.os }}-pip-

    # Actually build it
    - name: Build
      run: |
        python -m pip install . -v
    - name: Run an test 1
      run: |
        python ./VGsim_cmd.py -it 100000 -seed 2022
    - name: Run an test 2
      run: |
        python ./VGsim_cmd.py -it 100000 -seed 2022 -rt testing/cmd_example/example.rt -pm testing/cmd_example/example.pp testing/cmd_example/example.mg -su testing/cmd_example/example.su -st testing/cmd_example/example.st
    - name: Run an test 3
      run: |
        cd testing
        python ./check_simulator.py